*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(45, 38, 38, 0.85) ;/* Dark background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.conatiner{
    position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
flex-wrap: wrap;
  box-shadow:
    0 0 20px rgba(255, 170, 0, 0.4),
    0 0 40px rgba(0, 255, 255, 0.3),
    0 0 60px rgba(0, 255, 255, 0.2);
    height: 30%;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    background-color: #6e3e3e; /* Card color */
    width: 350px;
    padding: 30px;
    border-radius: 15px;
  
   
}
.input-container{
    display: flex;
     justify-content: space-around;
     margin-bottom: 24px;
}
button{
    width: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: #4facfe;
    border-radius: 8px;
    border: none;
    padding: 10px;
     margin-left: 10px;
      letter-spacing: 1px;
   transition: background-color 0.5s;
font-family: Arial, Helvetica, sans-serif;

}
button:hover{
   transform: scale(1.05);
   box-shadow: 0 0 20px #4ef0c2;
   cursor: pointer;
    background-color: rgb(47, 255, 127);
}
h2{
       transform: scale(1.05);
   box-shadow: 0 0 15px #ec970e;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    outline: rgb(8, 131, 254) 2px ;
    border-radius: 130px 10px;
     background-color: bisque;
    color: #0d8ae9ea; /* Light purple accent */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
#weather-info{
 margin-top: 20px;
}
input{  
    box-shadow: 0 0 10px #9d8325;
    flex: 1;
    background: #583131;
    border: 1px solid #333;
    padding: 12px;
    border-radius: 8px;
    outline: none;
}  
#error-message{
    color: rgb(0, 0, 0);
    margin-top: 20px;
}
.hidden{
    display: none;
}
#city-input{
    /* background-color: #d18359; */
       background-color: rgb(248, 204, 151);
}
.new{
    color: white;
    margin: 5px;
    font-size: 20px;
    text-shadow: 0 0 10px #a3a11a;
    letter-spacing: 2px;
}